@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Roboto:wght@100&display=swap');

:root {
    --primary: #F2C94C;
    --secondary: #000000;
}

body {
    background-image: url('images/background1.jpg');
    margin: 0;
    font-family: 'Comfortaa', cursive;
    color: var(--secondary);
}

nav {
    background-color: var(--primary);
    text-align: center;
}

header {
    font-size: 3rem;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
}

main {
    margin: auto;
    padding: 1rem;
    max-width: 40%;
    align-content: center;
}

textarea {
    box-sizing: border-box;
    width: 100%;
    min-height: 20vh;
    margin-top: 2rem;
    font-size: large;
    font-family: inherit;
}

button {
    background-color: var(--primary);
    border: none;
    margin: 1rem 0rem;
    padding: 1rem;
    font-family: inherit;
    font-size: large;
    align-content: center;
}


#div-Show {
    width: 100%;
    min-height: 5rem;
    max-height: 8rem;
    overflow:scroll;
    border: 1px solid var(--secondary);
    padding: 1rem;
    box-sizing: border-box;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--primary);
    text-align: center;
}

footer p {
    max-width: 60%;
    margin: auto;
    align-content: center;
}

#footer-title{
    
    font-size: x-large;
    font-weight: bold;
}